# 仮想環境
venv/
env/
.venv/
manga-relay-venv/

# Python
_archive
__pycache__/
*.pyc

# 環境変数
.env

# アップロード
uploads/
static/uploads/

# DB
*.sqlite
*.sqlite*
*.db
dev.db

# バックアップ
*.bak
backups/
*.zip
backup.sh
backup_zip.py

# OS
.DS_Store

# 個人
memo.txt
pass.txt
pass2.txt