<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>

  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      darkMode: 'class'
    }
  </script>

  <style>
    body {
      font-family: 'Inter', sans-serif;
    }
  </style>
</head>

<body class="min-h-screen pt-4 pl-4 pr-4 md:pt-8 md:pl-8 md:pr-8 transition-colors duration-300
         bg-gray-100 dark:bg-[#232325]
         text-gray-800 dark:text-gray-200">

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <div class="fixed top-4 left-1/2 -translate-x-1/2 z-50 space-y-2">
    {% for category, message in messages %}
    <div class="
          px-4 py-2 rounded-lg shadow
          {% if category == 'success' %}
            bg-green-600 text-white
          {% elif category == 'error' %}
            bg-red-600 text-white
          {% else %}
            bg-gray-700 text-white
          {% endif %}
        ">
      {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}


  {% block content %}{% endblock %}

  <!-- 共通スクリプト -->
  <script>
    const html = document.documentElement;
    const toggleButton = document.getElementById("theme-toggle");
    const savedTheme = localStorage.getItem("theme");

    if (savedTheme === "dark") {
      html.classList.add("dark");
      toggleButton.textContent = "☀️";
    }

    toggleButton.addEventListener("click", () => {
      html.classList.toggle("dark");

      if (html.classList.contains("dark")) {
        localStorage.setItem("theme", "dark");
        toggleButton.textContent = "☀️";
      } else {
        localStorage.setItem("theme", "light");
        toggleButton.textContent = "🌙";
      }
    });
  </script>
  {% block scripts %}{% endblock %}
  <footer class="max-w-4xl h-20 mx-auto mt-6 pd-8 text-center">
    {% if not hide_dm_link %}
    <div class="flex items-center">
      <a href="{{ url_for('admin_dm') }}"
        class="inline-flex items-center gap-1 text-sm text-gray-500 hover:text-indigo-600">
        管理者にDM
        <span>📩</span>
      </a>
    </div>
    {% else %}
    <!-- トップページへ戻る -->
    <a href="{{ url_for('index') }}"
      class="inline-block mt-3 px-4 py-2 bg-gray-300 dark:bg-[#383C40] text-gray-700 dark:text-[#BFC9DD] rounded-lg shadow hover:bg-gray-400">
      ← トップページへ戻る
    </a>
    {% endif %}
  </footer>
</body>

</html>